
{% extends "layout.html" %}

{% block body_content %}
<div class="important">
	<h2>A quick message from Morgan Grey:</h2>
</div>
<div class="content">
	<p>Welcome!</p>
	<p>Over the past 70 years since stonewall, LGBTQ+ rights and representation have come a long way, but the statistics still show that we have a <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3662085/">higher rate of suicide attempst</a> than other groups.</p>
	<p>One of the oft-cited reasons for this is that we just aren't provided the examples of historical role models in the same way that cisgender, heterosexual people are - both through the erasure of actual LGBTQ aspects of historical people and through the pushing of the narrative wherein the cis/heteronormative assumptions are seen as the default.</p>
	<p>This is by no means the only reason that has been put forward, young transgender people rarely have the language to describe the way and reasons for how and why they feel different from other people, and so the lack of language to describe the feelings that they have and are experiencing actively disadvantages their ability to process emotionally.</p>
	<p>As a result, I wanted to collate stories about historical LGBTQ+ role models, so that there is a central repository for people to look up examples throughout history, and be reminded that we are not alone.</p>
</div>
<br>
{% endblock %}
