Julie d'Aubigny
From Wikipedia, the free encyclopedia
Jump to navigationJump to search
Text document with red question mark.svg
This article possibly contains inappropriate or misinterpreted citations that do not verify the text. Please help improve this article by checking for citation inaccuracies. (December 2019) (Learn how and when to remove this template message)
Julie d’Aubigny
Mademoiselle Maupin de l'Opéra (Julie d'Aubigny).jpg
"Mademoiselle Maupin de l'Opéra".
Anonymous print, c. 1700.
Born	1670/1673
Died	1707 (age c. 33)
Nationality	French
Spouse(s)	Sieur de Maupin
Relatives	Gaston d'Aubigny (father)
Julie d'Aubigny (1670/1673–1707), better known as Mademoiselle Maupin or La Maupin, was a 17th-century opera singer. Little is known for certain about her life; her tumultuous career and flamboyant lifestyle were the subject of gossip, rumor, and colourful stories in her own time, and inspired numerous fictional and semi-fictional portrayals afterwards. Théophile Gautier loosely based the title character, Madeleine de Maupin, of his novel Mademoiselle de Maupin (1835) on her.


Contents
1	Early life
2	Youth
3	Opera and adult life
4	Gautier's Mademoiselle de Maupin
5	Opera roles created
6	Portrayals
7	References
8	Bibliography
Early life
Julie d'Aubigny was born in 1673[1] to Gaston d'Aubigny, a secretary to Louis de Lorraine-Guise, comte d'Armagnac, the Master of the Horse for King Louis XIV. Her father trained the court pages, and so his daughter learned dancing, reading, drawing, and fencing alongside the pages.[2][better source needed] In 1687, the Count d'Armagnac had her married to Sieur de Maupin of Saint-Germain-en-Laye, and she became Madame de Maupin (or simply "La Maupin" per French custom). Soon after the wedding, her husband received an administrative position in the south of France, but the Count kept her in Paris for his own purposes.

Youth

This section needs additional citations for verification. Please help improve this article by adding citations to reliable sources. Unsourced material may be challenged and removed.
Find sources: "Julie d'Aubigny" – news · newspapers · books · scholar · JSTOR (December 2019) (Learn how and when to remove this template message)
Also around 1687, La Maupin became involved with an assistant fencing master named Sérannes. When Lieutenant-General of Police Gabriel Nicolas de la Reynie tried to apprehend Sérannes for killing a man in an illegal duel, the pair fled the city to Marseille.

On the road south, La Maupin and Sérannes made a living by giving fencing exhibitions and singing in taverns and at local fairs. While travelling and performing in these impromptu shows, La Maupin dressed in male clothing but did not conceal her sex. On arrival in Marseille, she joined the opera company run by Pierre Gaultier, singing under her maiden name.

La Maupin left for Paris and again earned her living by singing. Near Poitiers, she met an old actor named Maréchal who began to teach her until his alcoholism got worse and he sent her on her way to Paris.[3][better source needed]

Opera and adult life

This section needs additional citations for verification. Please help improve this article by adding citations to reliable sources. Unsourced material may be challenged and removed.
Find sources: "Julie d'Aubigny" – news · newspapers · books · scholar · JSTOR (December 2019) (Learn how and when to remove this template message)
The Paris Opéra hired La Maupin in 1690, having initially refused her. She befriended an elderly singer, Bouvard, and he and Thévenard convinced Jean-Nicolas de Francine, master of the king's household, to accept her into the company. She debuted as Pallas Athena in Cadmus et Hermione by Jean-Baptiste Lully the same year. She performed regularly with the Opéra, first singing as a soprano, and later in her more natural contralto range. The Marquis de Dangeau wrote in his journal of a performance by La Maupin given at Trianon of Destouches' Omphale in 1701 that hers was "the most beautiful voice in the world".[3]

In Paris, and later in Brussels, she performed under the name Mademoiselle de Maupin because singers were addressed as "mademoiselle" whether or not they were married.

Until 1705, La Maupin sang in new operas by Pascal Collasse, André Cardinal Destouches, and André Campra. In 1702, André Campra composed the role of Clorinde in Tancrède specifically for her bas-dessus (contralto) range. She sang for the court at Versailles on a number of occasions, and again performed in many of the Opéra's major productions. She appeared for the last time in La Vénitienne by Michel de La Barre (1705).

She retired from the opera in 1705 and took refuge in a convent, probably in Provence, where she is believed to have died in 1707 at the age of 33. She has no known grave.[citation needed]
